/* Index */
.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 3rem;
}

.rightSection img {
    width: 80%;
}

.purple {
    color: blue
}

.cs50 {
    display:flex;
    margin: 0;
    padding: 0;
    box-shadow: none;
    color:lavender;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9.2vw;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 98vw;
}


button {
    color:black;
}






* {
    /* padding: 0 4px; */
}

/* Resume */

/* Global Styles */
main header {
    background-color: #2f2f2f;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    font-size: 32px;
    margin: 0;
}

.contact-info {
    font-size: 18px;
}

/* Section Styles */
section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-top: 0;
    color: #0073e6;
}

/* List Styles */
ul {
    list-style: none;
    padding-left: 0;
}

.skill-list li {
    font-size: 18px;
    margin: 5px 0;
}

.project-list li {
    font-size: 18px;
    margin: 10px 0;
}

.project-list strong {
    font-weight: bold;
}

.language-list li {
    font-size: 18px;
    margin: 5px 0;
}



/* Background color of the navbar */
nav {
    background-color: black;
    margin: 0 0 20px 0;
}

/* Journey */
#blink {
    transition: 1.5s;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.vertical-line {
    border-left: 2px solid #000;
    height: 15vh;
    width: 2px;
    /* Adjust the width of the vertical line */
}

.content {
    display: flex;
    /* Make the content area a flex container */
    align-items: center;
    /* Center items vertically within the content area */
}

.line-content {
    display: flex;
    /* Create a flex container for the line and text */
    align-items: center;
    /* Center items vertically within line-content */
}

.horizontal-line {
    display: flex;
    align-items: center;
    border-top: 2px solid #000;
    width: 40vw;
    margin-left: 0;
    /* Remove spacing between lines */
    margin-right: 10px;
    /* Add spacing to the right of the horizontal line */
}

.horizontal-line p {
    margin: 0 0px 0 20px;
    /* Remove default margin for the text */
    display: flex;
    width: 80%;
    justify-content: end;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .vertical-line {
        height: 30px;
    }

    .horizontal-line {
        margin-right: 0;
        margin-bottom: 10px;
        width: 85vw
    }

    /* Index */
    .firstSection {
        flex-direction: column-reverse;
    }

    .leftSection {
        font-size: 1.6rem;
    }
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    margin: 0 20px
}

h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    margin: 50px 0;
    padding: 0px;
}

/* For Left n Right Sections */
@media screen and (min-width: 640px) {
    main.con {
        .firstSection {
            width: fit-content;
            margin: 30px 0;
            
        }
        .sec {
            display: flex;
            justify-content: space-evenly;
        }

        .right {
            margin: 0 20px
        }

        .left {
            margin: 0 20px
        }
    }
}

/* Contact Page */
.social {
    justify-content: center;
    display: flex;
}

.social li {
    display: flex;
    margin: 20px 0px;
    list-style: none;
}

a ion-icon {
    color: blue;
}

ion-icon {
    height: 24px;
    width: 24px;
    padding: 10px;
}